
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

}

body {
    height: 100vh;
    background: url(./assets/img/hd-wallpaper-3119826_1920.jpg) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}
.container {
    width: 90%;
    color: white;
    margin-top: 40px;
    border: 1px solid black;
    padding: 40px;
    border-radius: 30px;
    background-color: rgba(45, 22, 13, 0.41);
    box-shadow: rgb(85 24 24) 0px 1px 10px;
    backdrop-filter: blur(10px)

}
.container .header h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 800;
    color: salmon
}
.input-div {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

input[type=text] {
    width: 300px;
    padding: 10px 0;
    background: transparent;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(154, 96, 21);
    font-size: 1.rem;
    box-shadow: px 1px 4px 3px black;
    padding-left: 15px;
    color: rgb(179, 194, 178);
    font-weight: 900;
    font-size: 1.1rem;
    transition: 0.7s;
}
input[type=submit] {

    border-radius: 5px;
    padding: 10px 20px;
    background-color: darkgoldenrod;
    outline: none;
    margin-left: 15px;
    border: 1px solid black;
    font-weight: 900;
    font-size: 1rem;
    transition: 0.4s;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: black;
    color: white;
    transform: scale(1.15);
}
.insert-container {
    margin-top: 40px;
}

.insert-container div:first-child{
    background-color: rgb(15, 14, 13);
}
.insert-container .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 15px;
    background: rgba(47, 79, 79, 0.51)
    
}

input:focus {
    border: 2px solid darkgreen;
}
h3 {
    color: salmon;
}
h4 {
    color: white;
    font-weight: 900;
}

input[type=button] {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: darkgoldenrod;
    outline: none;
    margin-left: 15px;
    border: 1px solid black;
    font-weight: 900;
    font-size: 1rem;
    transition: 0.4s;
    cursor: pointer;

}
input[type=button]:hover {
    background-color: black;
    color: rgba(255, 255, 255, 0.722);
    transform: scale(1.15);
}
#delete {
    background-color: darkred
}

#done {
    background: darkcyan;
}
#save {
    background-color: darkgreen;
}
input.edit {
    background: RGB(154,108,59);
    padding: 5px 10px;
    border-radius: 15px;
    outline: none;
    border: 1px solid goldenrod;
    animation: show 1s ease 
}

@keyframes show {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-150px);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}